/* CSS declarations go here */
body { background-color: #eee; }
.tab-content { padding-top: 20px; }
.surah h3 { margin: 0; }
.list-deeds {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}
.edit-reflection,
.remove-reflection,
.save-reflection,
.discard-reflection,
.toggle-private,
.remove-deed,
.deeds-info { cursor: pointer; }