/* CSS declarations go here */
body { background-color: #eee; }
.tab-content { padding-top: 20px; }
.surah h3 { margin: 0; }
.list-deeds {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #ddd;
  border-radius: 5px;
}